$brown: #69340A;
$orange: #FFB14F;
$cream: rgba(250, 152, 14, 0.25);
$transparent-black: rgba(0,0,0,.9);
$transparent-black-light: rgba(0,0,0,.25);
$transparent-white: rgba(255,255,255,0.8);
$gray-light: #f5f5f5;
$gray-medium: #999;

$font-default: 'Open Sans', Arial, Verdana;

$small-screens: screen and (max-width: 600px);
$medium-screens: screen and (max-width: 1024px);
$medium-landscape-screens: screen and (max-width: 1024px) and (orientation:landscape);