@keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(25px, 0, 0);
    }
    75% {
       transform: translate3d(-10px, 0, 0);
    }
    90% {
       transform: translate3d(5px, 0, 0);
    }
    100% {
        transform: none;
    }
}

.bounceInLeft {
    animation-name: bounceInLeft;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

@keyframes shake {
    0% {
        transforM: scale(1.1) rotate(2deg);
    }
    60% {
        transform: scale(1.1) rotate(-45deg);
    }
    70% {
        transform: scale(1.1) rotate(8deg);
    }
    78% {
        transform: scale(1.1) rotate(-25deg);
    }
    83% {
        transform: scale(1.1) rotate(6deg);
    }
    88% {
        transform: scale(1.1) rotate(-10deg);
    }
    92% {
        transform: scale(1.1) rotate(4deg);
    }
    95% {
        transform: scale(1.1) rotate(-5deg);
    }
    100% {
        transform: scale(1.1) rotate(2deg);
    }
}

.shake {
    animation-name: shake;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}