body {
	margin: 0;
	padding: 0;
	font-size: 18px;
}

img {
	border: 0;
	max-width: 100%;
}

article {
	margin-left: 33%;
	padding: 0;
	width: 60%;
    @media $medium-screens {
        width: 100%;
		margin: 0;
    }
}

ul {
	list-style: square;
	width: 70%;
	padding: 0 15%;
	font-family: $font-default;
	line-height: 1.5em;
	color: #111;
    li {
        padding: .25em .5em;
    }
}

table {
    width: 90%;
    padding: 0 10%;
    box-sizing: border-box;
	font-family: $font-default;
    tr:nth-child(even) {
        background: $gray-light;
    }
    th {
        text-align: left;
        background: $orange;
        padding: .5em 1em;
        @media $small-screens {
            padding: .3wm;
        }
    }
    td {
        padding: .5em 1em;
        @media $small-screens {
            padding: .3wm;
        }
    }
    @media $small-screens {
        width: 100%;
        padding: 0 5%
    }
}

form {
	width: 80%;
	margin: 0 10%;
    box-sizing: border-box;
    background: $cream;
    border: 1px $transparent-black-light solid;
    padding: 1.5em;
    margin-top: 3em;
    padding-bottom: 3em;
    @media $medium-screens {
		width: 100%;
		margin: 0;
    }
}

label {
	display: block;
    font-family: $font-default;
    @media $medium-screens {
        width: 100%;
    }
}

input[type=text], input[type=email], textarea {
	font-family: $font-default;
	width: 50%;
    font-size: 100%;
	margin-bottom: 20px;
	padding: .5em;
	box-sizing: border-box;
	border: 1px $transparent-black solid;
	background: $transparent-white;
    @media $medium-screens {
        width: 100%;
    }
}

textarea {
	width: 100%;
	height: 8em;
}

input[type=submit] {
	float: right;
    padding: .375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .3rem;
    border: 1px #000 solid;
    background-color: $orange;
    color: #000;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}