.left {
	float: left;
	margin-right: 1em;
}

.tools-area {
	text-align: center;
	width: 100%;
    img {
        display: inline-block;
        width: 20%;
        margin: 10px;
        transition: transform .5s;
        @media $medium-screens {
            width: 35%;
        }
        &:hover {
            transform: scale(1.1) skew(-2deg);
        }
    }
}

ul.no-bullets {
    list-style-type: none;
    li {
        display: inline-block;
    }
}

.blog-list {
    width: 80%;
    padding: 0 10%;
    margin-bottom: 25em;
    li {
        float: left;
        min-height: 190px;
        width: 40%;
        box-sizing: border-box;
        border: 1px $transparent-black-light solid;
        padding: 0;
        margin: 0 2%;
        vertical-align: top;
        border-radius: 50%/5%;
        @media $small-screens {
            width: 100%;
        }
    }
    img {
        padding: 0;
    }
    .blog-text {
        .blog-title {
            font-size: 120%;
            margin: .5em 0 .5em 0;
            padding: 0 10%;
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .blog-description {
            font-size: 80%;
        }
        .blog-date {
            display: block;
            font-size: 70%;
            padding: 0 10%;
            text-align: center;
        }
        a {
            color: #000;
            text-decoration: none;
        }
    }
    @media $small-screens {
        width: 90%;
        padding: 0 2.5% 35em 2.5%;
    }
}

.blog-post {
    img {
        display: block;
        margin: 0 auto;
        & + em {
            display: block;
            text-align: center;
            font-size: 90%;
        }
    }
}

.article-image {
	display: block;
	margin: 0 auto;
	width: 70%;
}

.facebook-icon-container {
    @media $medium-landscape-screens {
        position: absolute;
        left: .2em;
        bottom: 0;
    }
}

@media $medium-screens {
	.hide-on-mobile {
		display: none;
	}
}